<div class="navbar">
<h1>Wikinonimous</h1>
<%= link_to 'New Article', new_article_path %>
</div>
<div class="container">
<ul id="ul_index">
<% @articles.each do |article| %>
<li><%= link_to article.title, article %><br><td class="content"><%= article.content %></td></li>
<% end %>
</ul>
</div>

